[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[user]
  name = Corey Finley
  email = finley.corey@gmail.com
[core]
  editor = vim
  excludesfile = /Users/coreyfinley/.gitignore_global
[alias]
  b = branch
  l = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  rh = reset --hard
  co = checkout
  cb = checkout -b
  st = status
  ca = commit --amend
  ri = rebase -i
  bd = branch -D
  ft = fetch
  pl = pull
  pf = push -f
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  cbt = checkout -b -t
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
  default = current
[pull]
  default = current
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[rerere]
  enabled = true
[branch]
  autosetuprebase = always
